* {
    font-family: 'Arial', sans-serif;
}

body {
    background-color: rgba(120, 181, 210, 0.82)
}

#yumeng_pic {
    height: auto;
    width: 200px;
}

#peter_pic {
    height: auto;
    width: 200px;
}